
/*
Project Name: Final Project
Author: Melissa McLaughlin
Front End Developer @GA in NYC
*/

* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}



.center { margin: 0 auto; }
.content{ margin: 0 auto; width: 960px; }
.clear { clear: both; }

body{
	margin: 0;
	padding: 0;
	width: 100%;
}

h1 {
	font-family: 'News Cycle', sans-serif;
	font-weight: 700;
	font-size: 85px;
	text-align: center;
	color: #000;
	margin: 0;
	padding: 0;
}

h2 {
	font-family: 'News Cycle', sans-serif;
	font-weight: normal;
	font-size: 40px;
	text-align: center;
	color: #000;
	margin: 0;
	padding: 0;
}

h3 {
	font-family: 'News Cycle', sans-serif;
	font-weight: normal;
	font-size: 16px;
	text-align: center;
	margin: 5px 0;
	padding: 0;
	z-index: 1;
	position: relative;
}


#header {
	width: 100%;
	background-color: #000;
	height: 80px;
	position: fixed;
	margin-top: 0px;
}

#nav { 
	width: 100%;
	text-align: center;
	padding-top: 15px;
}


#nav ul {
	margin: 0 auto;
}

#nav ul li {
	margin-top: 9px;
	padding-left: 40px;
	padding-right: 40px;
	display: inline-block;
	list-style: none;
}

#nav li a { 
	color: #fff;
	font-weight: 700;
	font-size: 16px; 
	text-decoration: none; 
	font-family: 'News Cycle', sans-serif;
}

#nav li a:hover { 
	color: #d11940;
	font-weight: 700; 
}

#home {
	background:url('../images/HomeBG.jpg') 100% 0 no-repeat fixed;
	color: #fff;
	height: 700px;
	margin: 0;
	padding: 0px 0 0px 0;
	background-size: cover;
}

#ourstory {
	background-color: #d11940;
	color: #000;
	height: 700px;
	margin: 0 auto;
	overflow: hidden;
	padding: 200px 0;
}

#ourstory h1{
	color: #fff;
}

#beers {
	background-color: #000;
	color: #fff;
	height: 700px;
	padding: 170px 0 0 0;
}

#beers h1{
	color: #d11940;
}

#visit {
	background-color: #fff;
	color: #d11940;
	height: 700px;
	padding: 200px 0;
}

#events {
	background-color: #d11940;
	height: 700px;
	margin: 0 auto;
	padding: 250px 0;
	color: #000;
}

#events h1{
	color: #fff;
}

#contact {
	background-color: #000;
	color: #fff;
	height: 700px;
	padding: 200px 0;
}

#contact h1{
	color: #d11940;
}
